nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 70px;
  align-items: center;
  border-bottom: 1px solid rgb(226, 222, 222);
}
.nav-logo > a {
  color: #333;
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: none;
  font-weight: 500;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav > ul > li {
  list-style: none;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
nav > ul > li > a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}
a > span {
  font-size: 1.1rem;
  padding: 0 0.3rem;
}
nav > ul > li > a:hover {
  color: blue;
  transition: 0.3s ease-in-out;
}
